@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Duployan");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0f0f0f;
		--background: #ffffff;
		--primary: #cd797d;
		--secondary: #e6e6e6;
		--accent: #66b1cd;
	}

	.dark {
		--text: #f0f0f0;
		--background: #000000;
		--primary: #fe7e84;
		--secondary: #141414;
		--accent: #04bbfc;
	}

	.cotton-candy {
		--text: #0f0f0f;
		--background: #fff7f7;
		--primary: #fc9399;
		--secondary: #eed9d9;
		--accent: #03bafc;
	}

	.mustard {
		--text: #ffffff;
		--background: #0a0000;
		--primary: #cb4444;
		--secondary: #eebf24;
		--accent: #e94200;
	}

	.grass {
		--text: #edf2e4;
		--background: #070803;
		--primary: #c2d990;
		--secondary: #6a8a26;
		--accent: #aeda52;
	}

	.ash {
		--text: #ede5e6;
		--background: #110c0d;
		--primary: #c4abae;
		--secondary: #476653;
		--accent: #7894a0;
	}

	.warm {
		--text: #cbbe98;
		--background: #292828;
		--primary: #de6962;
		--secondary: #61a782;
		--accent: #e78a4e;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #343434;
	border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2e2e2e;
}

html,
body,
#root {
	font-family: "Noto Sans Duployan", sans-serif;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}
