@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Duployan");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0f0f0f;
		--background: #ffffff;
		--primary: #cd797d;
		--secondary: #e6e6e6;
		--accent: #66b1cd;
	}

	.dark {
		--text: #f0f0f0;
		--background: #000000;
		--primary: #fe7e84;
		--secondary: #141414;
		--accent: #04bbfc;
	}

	.cotton-candy {
		--text: #0f0f0f;
		--background: #fff7f7;
		--primary: #fc9399;
		--secondary: #eed9d9;
		--accent: #03bafc;
	}

	.dracula {
		--text: #edeef1;
		--background: #060709;
		--primary: #abb2c0;
		--secondary: #5a4352;
		--accent: #936f75;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #343434;
	border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2e2e2e;
}

html,
body,
#root {
	font-family: "Noto Sans Duployan", sans-serif;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}
