@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Duployan");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0d171c;
		--background: #fbfdfe;
		--primary: #4198c3;
		--secondary: #9acde4;
		--accent: #5bb1dc;
	}

	.dark {
		--text: #f0f0f0;
		--background: #000000;
		--primary: #fe7e84;
		--secondary: #141414;
		--accent: #04bbfc;
	}

	.fruit-light {
		--text: #1b0317;
		--background: #fdf2fc;
		--primary: #2fd5e5;
		--secondary: #f18ca5;
		--accent: #e9564f;
	}
	.fruit-dark {
		--text: #fce3f8;
		--background: #0d020c;
		--primary: #1ac2d1;
		--secondary: #710e27;
		--accent: #b11e16;
	}
	.neon-light {
		--text: #080408;
		--background: #fcf9fc;
		--primary: #b055b6;
		--secondary: #d59fd9;
		--accent: #c471ca;
	}
	.neon-dark {
		--text: #fcf8fc;
		--background: #070307;
		--primary: #a549ab;
		--secondary: #5b265f;
		--accent: #88348d;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #343434;
	border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2e2e2e;
}

html,
body,
#root {
	font-family: "Noto Sans Duployan", sans-serif;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}
